<footer>
<p>
  The site is maintained by <a href="https://twitter.com/simonfermor">Simon Fermor</a> for his own reference and for anyone else who finds it useful. Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
