<footer>
<p>
  The site is maintained by <a href="https://twitter.com/simonfermor">Simon Fermor</a> for his own reference and for anyone else who finds it useful. 
  Repo is on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
  data-name="bmc-button" data-slug="fermorphilosophy" data-color="#FFDD00" data-emoji="" data-font="Inter" 
  data-text="I'd love a coffee!" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</footer>
