<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>start somewhere</small></a>
    </li>
    <li>
      <a href="/philosophers">philosophers<small>who thought it</small></a>
    </li>
        <li>
      <a href="/topics">topics<small>concepts, ideas, views</small></a>
    </li>
    <li>
      <a href="/about">about<small>does this site exist?</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
